
<link rel="stylesheet" href="/stylesheets/footer.css">

<div class="container-fluid foot">
    <div class="row text-center pt-3">
        <div class="col-3">
            <img src="/images/proyecto/instagram.png" alt="">
        </div>
        <div class="col-3">
            <img src="/images/proyecto/twitter.png" alt="">
        </div>
        <div class="col-3">
            <img src="/images/proyecto/facebook.png" alt="">
        </div>
        <div class="col-3">
            <img src="/images/proyecto/correo.png" alt="">
        </div>
    </div>
    <div class="row text-center pt-5">
        <div class="col">
            <p>@Untitled.All right reserved.Socratech</p>
        </div>
    </div>
</div>
  