<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('bootstrap') %>
    <link rel='stylesheet' href='/stylesheets/artist2.css'>
</head>
<body>
    <%- include('navbar') %>

    <div class="container-fluid bg">
        <div class="row">
            <div class="col text-center">
                <br>
                <h1>Añadir obra al autor</h1>
            </div>
        </div>
        <br>

    <div class="row text-center justify-content-center">
     <div class="col-8 formulario">
        <form action="/work/saveWork/<%= artist_id%>" method="post" enctype="multipart/form-data">
            <div class="form-column d-flex flex-column">
                <br>
                <div class="col">
                    <input type="text"
                    class="form-control" placeholder="Nombre del obra" name="work_name">
                </div>
                <br>
                <div class="col">
                    <input type="text"
                    class="form-control" placeholder="Descripcion" name="description">
                </div>
                <br>
                <div class="col">
                    <input type="file"
                    class="form-control" placeholder="Imagen del artista" name="img">
                </div>
                <br>
                <div class="col">
                    <button type="submit" class="form-control">Añadir Obra</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    </div>

</body>
</html>