body {
    margin: 0;
    background-image: url("/images/proyecto/fondo.jpg");
    background-size: cover;
    font: small-caps 100%/200% serif;
}

h1 {
    color: RGB(253, 247, 235);
}

.formulario {
    border: 1px solid white;
    background-color: RGB(253, 247, 235);
    opacity: 0.8;
}