body {
    margin: 0;
    background-image: url("/images/proyecto/fondo.jpg");
    background-size: cover;
    font: small-caps 100%/200% serif;
}

h1 {
    color: RGB(253, 247, 235);
}

.formulario {
    border: 1px solid white;
    background-color: RGB(253, 247, 235);
    opacity: 0.8;
}

.espacio {
    height: 24vh;
}

.espacio2 {
    height: 45vh;
}

.foot {
    background-color: oldlace;
}

.foot a {
    color: goldenrod;
}

.foot img {
    width: 3vw;
    height: 4vh;
    filter: invert(0.5)
}