body {
    margin: 0;
    background-image: url("/images/proyecto/fondo.jpg");
    background-size: cover;
    background-position: center;
    font: small-caps 100%/200% serif;
    font-family: monospace;
}

.home {
    background-image: url("/images/proyecto/home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .home {
        height: 30vh;
    }
}



.nirvana {
    color: oldlace;
    font-weight: bold;
}

.artista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.artista img {
    height: 65vh;
}

@media only screen and (max-width: 600px) {
    .artista img {
        height: 30vh;
    }
}

.tarjeta:hover {
    transform: scale(1.1);
}


.cbc {
    background-color: oldlace;
}

p {
    color: goldenrod;
}

.artista hr {
    height: 3px !important;
    background-color: oldlace;
}


.carrusel img {
    height: 70vh;
}



h2 {
    color: oldlace;
}

.foot {
    margin: 0;
    bottom: 0;
    z-index: 1;
    background: oldlace;
    opacity: 0.8;
}

.foot a {
    color: goldenrod;
}

.foot img {
    width: 3vw;
    height: 4vh;
    filter: invert(0.5)
}