.bg {
    margin: 0;
    background-image: url("/images/proyecto/van.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

button {
    background-color: oldlace;
    border: 2px solid RGB(198, 189, 160);
    color: RGB(128, 151, 156);
}

input {
    background-color: oldlace;
    color: RGB(128, 151, 156);
    border: 2px solid RGB(198, 189, 160);
}

p {
    color: oldlace;
    font-size: 55px;
}

.letras {
    padding-top: 15%;
}