body {
    margin: 0;
    background-image: url("/images/proyecto/fondo.jpg");
    background-size: cover;
    background-position: center;
    font-family: monospace;
}

.artista {
    border: 1px solid goldenrod;
    border-radius: 10%;
    color: goldenrod;
    background-color: rgba(255, 255, 255, 0.792);
    opacity: 0.8;
}

.artista img {
    width: 80%;
}

button {
    border: 1px solid rgba(255, 255, 255, 0.792);
    border-radius: 20px;
    background-color: rgb(218, 175, 65);
    font-weight: bold;
}

button a {
    color: oldlace;
    text-decoration: none;
}

button:hover {
    border: 1px solid goldenrod;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.792);
}

button a:hover {
    color: goldenrod;
}

h2 {
    color: rgb(215, 183, 101);
}

.work:hover {
    transform: scale(1.1);
}

.work img {
    width: 80%;
    height: 30%;
}

h3 {
    color: oldlace;
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    color: oldlace;
}

.foot {
    margin: 0;
    bottom: 0;
    z-index: 1;
    background: oldlace;
    opacity: 0.8;
}

.foot a {
    color: goldenrod;
}

.foot img {
    width: 3vw;
    height: 4vh;
    filter: invert(0.5)
}